<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 class='text-center'><%= @user.first_name %> <%= @user.last_name %></h1>
    <div class="container">
      <% @user.gossips.each do |gossip| %>
        <div class="card mb-3 bg-light border-primary border-left-0">
          <div class="row no-gutters">
            <div class="col-2 col-sm-1 m-auto text-center">
              <i class="fas fa-comment-alt fa-3x"></i>
            </div>
            <div class="col-10 col-sm-11">
              <div class="card-body">
                <h5 class="card-title"><%= gossip.title %></h5>
                <p class="card-text"><%= gossip.content %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <p><%= link_to "Retourner à la liste des gossips", "/welcome/#{session[:username]}" %></p>
    </div>
  </body>
</html>
